version: '3.8'

services:
  scylla-db:
    image: scylladb/scylla
    container_name: scylla-node
    ports:
      - "9042:9042"
    volumes:
      - scylla_data:/var/lib/scylla
    command: --smp 2 --memory 2G # remover quando for para produção
    healthcheck:
      test: ["CMD-SHELL", "cqlsh -e 'describe keyspaces'"]
      interval: 15s
      timeout: 10s
      retries: 10

volumes:
  scylla_data: